.informacion{
    background-color: #6A67FF;
    height: 18cm;
    width: 50%;
    float: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}.foto{
    height: 18cm;
    width: 50%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9E9E9;
}.contenedor{

    background-color: #F3F4F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    border-radius: 10px;

}.btn-primary{
    margin: 10px;
    width: 70%;
    background-color: gray;
    border-color: gray;
    


}