body {
    font-family: Khmer, sans-serif;
    background-color: #eee7e7;
    margin: 0;
    height: 100vh;
    background: url("Imagenes/Students.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom    ;
 

}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: Khmer;
    
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #6A67FF;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
    


button:hover {
    background-color: #1107cc;
}.a{
    text-decoration: none;
}
header{
    
    display:flex;
    text-align: center;
    height: 70px;
    background-color: #6A67FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    color:white;
    justify-content: calc();
    font-weight: 400;




}

